$black100: #383E45;
$black90: #4C535C;
$black80: #616972;
$black70: #767F89;
$black60: #8D96A0;
$black50: #A4ADB6;
$black40: #BCC4CD;
$black30: #D5DCE4;
$black20: #E8ECF1;
$black10: #F6F8F9;

$dark100: #1F344C;
$dark90: #2F4A69;
$dark80: #416186;
$dark70: #5579A3;
$dark60: #6C93C0;
$dark50: #85AEDD;
$dark40: #A0CAFB;
$dark30: #BEDCFF;
$dark20: #DAEBFF;
$dark10: #F6FAFF;

$white: #FFFFFF;
$attention: #DDAF45;
$purple: #966789;
